.counter-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 4px;
}

#btn{
    width: 50%;
    height: 5vh;
    border-radius: 4px;
    background-color: rgb(19, 22, 211);
    color: white;
}